@{
    ViewData["Title"] = "Create Major";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@model Major
<div class="ms-2 mx-2">
    <h1>Create Major</h1>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-controller="Major" asp-action="Create" method="post" class="mt-3">
        <div style="margin-top:7px" class="form-group row">
            <label asp-for="MajorName" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="MajorName" class="form-control" placeholder="Major Name" />
            </div>
        </div>
        <span asp-validation-for="MajorName" class="text-danger"></span>

        <div style="margin-top:10px" class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>
</div>